bin
obj
*~
*.so
*.o
*#
__pycache__
/src/snabbswitch
/src/snabb
/src/testlog
/src/apps/ipv6/selftest.cap.output
/src/apps/keyed_ipv6_tunnel/selftest.cap.output
/src/apps/vpn/vpws-selftest-customer.cap.output
/src/apps/vpn/vpws-selftest-uplink.cap.output
/src/syscall.lua
/src/syscall
/src/ndpi.lua
/src/ndpi
/deps/*.vsn
/src/programs.inc
.images
/lib/luajit/usr
