[submodule "include/buildrump.sh"]
	path = include/buildrump.sh
	url = https://github.com/anttikantee/buildrump.sh.git
[submodule "include/ffi-reflect"]
	path = include/ffi-reflect
	url = https://github.com/corsix/ffi-reflect
[submodule "include/luajit-2.0"]
	path = include/luajit-2.0
	url = http://luajit.org/git/luajit-2.0.git
