return
   {
      -- First VM
      { vlan=100,
        mac_address = "02:00:00:00:00:01",
        port_id = "vm1",
        ingress_filter = nil,
        egress_filter = nil,
        gbps = nil,
        tunnel = nil
      },
      -- Second VM
      { vlan=100,
        mac_address = "02:00:00:00:00:02",
        port_id = "vm2",
        ingress_filter = nil,
        egress_filter = nil,
        gbps = nil,
        tunnel = nil
      }
   }
