*.[oa]
*.so
*.obj
*.lib
*.exp
*.dll
*.exe
*.manifest
*.dmp
*.swp
.tags
*.dwo
/src/lj_bcdef.h
/src/lj_ffdef.h
/src/lj_folddef.h
/src/lj_libdef.h
/src/lj_recdef.h
/src/lj_vm.S
/src/raptorjit
/src/host/buildvm_arch.h
