#!/usr/bin/env bash

# General

SNABB_HOST_PATH=~/workspace/snabb_host
SNABB_HOST_LWAFTR=$SNABB_HOST_PATH/src/program/lwaftr

# QEMU

NAME=lwaftr1
DISK=~/vm/vm_lwaftr1.qcow2
MEM=1024M

IFACE=mgmt0
NETSCRIPT=$SNABB_HOST_LWAFTR/virt/setup_networks/lwaftr1.sh

SHARED_LOCATION=~/workspace
VHU_SOCK1=/tmp/vh1a.sock
VHU_SOCK2=/tmp/vh1b.sock
VNC_DISPLAY=22

# VM

HUGEPAGESTLB_FS=/dev/hugepages
NUMA_NODE=0
QEMU_CORE=0
VM_DIR=~/vm
VM_IP=10.21.21.2
VM_USER=igalia   # Must be in the list of sudoers        

# Guest

SNABB_GUEST_PATH=/mnt/host/snabb_guest/src

# SnabbNFV

SNABBNFV_CORE1=1
SNABBNFV_CONF1=$SNABB_HOST_LWAFTR/virt/ports/lwaftr1/a.cfg
SNABBNFV_PCI1=0000:02:00.0
SNABBNFV_MAC1=52:54:00:00:00:01

SNABBNFV_CORE2=2
SNABBNFV_CONF2=$SNABB_HOST_LWAFTR/virt/ports/lwaftr1/b.cfg
SNABBNFV_PCI2=0000:02:00.1
SNABBNFV_MAC2=52:54:00:00:00:02
