snabbflow-config {
    interface {
        device %q;
    }
    rss {
        cpu-pool { %s }
        hardware-scaling { rss-groups %d; }
    }
    flow-director {
        default-class { exporter e1; }
        remove-ipv6-extension-headers true;
    }
    ipfix {
        idle-timeout 30;
        active-timeout 600;
        scan-time 10;
        cache-size 8000000;
        exporter-ip 10.0.0.1;
        collector-pool { name c1; collector { ip 10.0.0.2; port 1234; } }
        maps {
            pfx4-to-as { file "program/ipfix/tests/maps/pfx4_to_as.csv"; }
            pfx6-to-as { file "program/ipfix/tests/maps/pfx6_to_as.csv"; }
            vlan-to-ifindex { file "program/ipfix/tests/maps/vlan_to_ifindex"; }
            mac-to-as { file "program/ipfix/tests/maps/mac_to_as"; }
        }
        exporter {
            name e1;
            template "v4_extended";
            template "v6_extended";
            collector-pool c1;
        }
    }
}